/* Google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Raleway:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #f5f8ff;
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

/* hero section start */

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.logo {
  font-family: "Inter", sans-serif;
  font-size: 2.1rem;
  font-weight: 900;
  color: #4e47ff;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #4e47ff;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  transition: background-color 0.3s ease, font-size 0.3s ease;
}

.btn-primary:hover {
  background-color: #3c38d9;
  font-size: 1.3rem;
}

.hero {
  height: 90vh;
  width: 100%;
  background: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  color: #252432;
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 155px;
  margin-bottom: 50px;
}

/* hero section end */

/* action section start */

.action-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px 0;
  gap: 50px;
}
.action-section .action-content {
  max-width: 500px;
}

.action-section .action-content h2 {
  font-size: 2.7rem;
  font-weight: 700;
  color: #252432;
  margin-bottom: 20px;
}

.action-section .action-content p {
  font-size: 1.5rem;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 30px;
}

.action-section .action-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 50px;
}

/* action section end */

/* productive user section start */

.productive-section {
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 25px;
  padding: 50px 80px;
  text-align: center;
  margin-bottom: 150px;
}

.productive-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #252432;
  margin-bottom: 40px;
}

.productive-stats {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.productive-stats .stat-item {
  text-align: center;
}

.stat-item h3 {
  font-size: 5rem;
  font-weight: 700;
  color: #4e47ff;
  margin-bottom: 10px;
}

.stat-item p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* productive user section end */
